<style>

</style>

<div class="container">
    <div class="row ">
        <div class="col-6">
            <%= image_tag 'home.png' , class: 'img-fluid' %>
        </div>
        <div class="col-6">
            <div class="container">
                <div class="row justify-content-end mt-5">
                    <%= render 'shared/navbar' %>
                    <%= image_tag 'nav-logo.png' , class: 'img-fluid' %>

                </div>
                <div class="row mt-5">
                    <h3>Apresentação</h3>
                    <p>
                        Adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
                        dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
                        quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip
                        ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit
                        in vulputate velit esse molestie consequat, vel illum dolore eu feugiat
                        nulla facilisis at vero eros et accumsan et iusto odio dignissim qui
                        blandit praesent luptatum zzril delenit augue duis dolore te feugait
                        nulla facilisi.
                        Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed diam
                        nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat 
                    </p>
                   
                </div>
            </div>
            
        </div>
    </div>
    <%
    colors = ["#31b8e9ff","#e9bf37ff","#30b7c6ff","#d32064ff"]
    
    %>
    <div class="row mt-5">
        <div class="card-group">
            <% if @projects.any? %>
                <% @projects.each_with_index do |project,index|  %>
                    <div class="col-4">                
                        <div class="card " style="background-color: <%=colors[index]%>" onclick="window.location='<%= new_project_donation_path(project) %>'">
                            <span class="m-3">
                                <img src="<%= project.photo.url %>" class="card-img-top" alt="logo">
                            </span>
                            
                            <div class="card-body"   >
                                <div class="row">
                                    <div class="col">
                                        <%= image_tag 'plus.png', class: 'image-fluid' %>
                                         
                                    </div>
                                    <div class="col">
                                        <h3 class="card-title text-center"><%=project.name%></h3>
                                    </div>
    
                                </div>                                
                                <div class="row">
                                    <div class="col-8">
                                        <p class="card-text"><%=project.about%> </p>
                                    </div>
                                    <div class="col-4">
                                        <%= image_tag 'acao-logo.png' , class: 'img-fluid' %>
                                    </div>
                                </div>        
                                <dl class="cc-inlineStats">
                                    <div class="cc-inlineStats__group">
                                      <dd class="cc-inlineStats__value"><%= number_to_currency(project.goal, :unit => "R$",precision: 0) %></dd>
                                      <dt class="cc-inlineStats__label text-red-pacto">Meta</dt>
                                    </div>
                                    <div class="cc-inlineStats__group">
                                      <dd class="cc-inlineStats__value">...</dd>
                                      <dt class="cc-inlineStats__label text-red-pacto">Arrecadado</dt>
                                    </div>
                                    <div class="cc-inlineStats__group">
                                      <dd class="cc-inlineStats__value">....</dd>
                                      <dt class="cc-inlineStats__label text-red-pacto">Valor da quota</dt>
                                    </div>
                                </dl>
                                <div class="row">
                                    <%= link_to 'QUERO DOAR', new_project_donation_path(project), class:"btn btn-block cta cta-green my-4" %>
                                </div> 
                                <div class="row">
                                    <p>Divulgue em suas redes sociais</p>
                                </div>
                            </div>
                        </div>
                    </div>
                <%end%>
            <%end%>            
        </div>
    </div>
    <div class="row mt-5">
        Bla
    </div>
</div>