<style>

</style>
<div class="">
    <section class="home pt-5">
        </br></br></br>
        <h2 class="text-center">COMO AJUDAR?</h2></br>
        <h4 class="text-center mt-3">VEJA OS PROJEGOS ABAIXO PARA COLABORAR COM O MOVIMENTO </br> COVIDZERO​</h4></br></br></br></br>
        <h1 class="text-center mt-5"><%=icon('fas', 'angle-double-down', class: 'strong')%></h3>
    </section>
    <div class="row mt-5 mx-auto justify-content-center">
        <h2 class="text-center mb-5 projects-caption p-3">PROJETOS EM</br> CAPTAÇÃO</h2>
        <div class="card-group">
            <% if @projects.any? %>
                <% @projects.each_with_index do |project,index|  %>
                    <div class="col-4 ">                
                        <div class="card " onclick="window.location='<%= new_project_donation_path(project) %>'">
                            <span class="m-3">
                                <img src="<%= project.photo.url %>" class="card-img-top img-fluid" alt="logo">
                            </span>
                            
                            <div class="card-body"   >
                                <div class="row">
                                    <div class="col">
                                        <h3 class="card-title text-center pb-3"><%=project.name%></h3>
                                    </div>
    
                                </div>                                
                                <div class="row mb-3">
                                    <div class="col">
                                        <p class="card-text text-justify"><%= truncate  project.about , length: 160%> </p>
                                    </div>
                                </div>        
                                <dl class="cc-inlineStats">
                                    <div class="cc-inlineStats__group">
                                        <dd class="cc-inlineStats__value"><%= number_to_currency(project.goal)%></dd>
                                        <dt class="cc-inlineStats__label text-red-pacto">Meta</dt>
                                      </div>
                                    <div class="cc-inlineStats__group">
                                      <dd class="cc-inlineStats__value"><%= number_to_currency(project.donation_total)%></dd>
                                      <dt class="cc-inlineStats__label text-red-pacto">Arrecadado</dt>
                                    </div>
                                    <div class="cc-inlineStats__group">
                                      <dd class="cc-inlineStats__value"><%= number_to_currency(project.quota_value)%> </dd>
                                      <dt class="cc-inlineStats__label text-red-pacto">Doação mínima</dt>
                                    </div>
                                </dl>
                            </div>
                        </div>
                    </div>
                <%end%>
            <%end%>            
        </div>
    </div>
</div>