<!DOCTYPE html>
<html>
  <head>
    <title>Cfpacto</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>

    <footer class="mt-5">
      <div class="row justify-content-center">
        <%= image_tag 'captable.png',  class: 'text-center' , style: 'max-width: 150px; height: auto'  %>
      </div>
            
    </footer>
  </body>
</html>
